<div class="nested-fields">
	<div class="form-inline center" id="#JigOrderLineItem">
		<%= f.collection_select :jig_id, Jig.all, :id, :name, { include_blank: 'Select Jig' }, class: "form-control jig_select" %>
		<%= f.input :repaired, placeholder: "# Repaired", label: false %>
		<%= f.input :cleaned, placeholder: "# Cleaned", label: false %>
		<%= link_to_remove_association "remove jig", f %>
	</div>
</div>
