<h1>New Jig Created for <%= @jig.customer.name %></h1>
<h3>
  Jig Name: <%= @jig.name %>
</h3>
<p>
  You are receiving this email as a notification that a new Jig has been created. Please log in to <%= link_to "Know Well", root_url %> in order to view and manage this jig.
</p>
<p>
  If you have received this email in error please contact <%= mail_to "josh@autochemind.com", "Josh Pettyjohn", subject: "Jig Work Order Notification Issue" %>
</p>
<h4>
  All the Best, 
  <hr>
  Know Well and AutoChem Industrial
</h4>
