<% provide(:title, "Share Document") %>
<div class="page-header">
  <h1 class="text-center">Share Document</h1>
</div>
<div class="row">
</div>
<%= link_to "Back", @document.meico_product, class: "btn btn-primary" %>
