<% provide(:title, "Edit #{@contact.customer.name} Contact") %>
<div class="page-header">
  <%= link_to "Back", customer_contact_path(@contact.customer, @contact), class: 'btn btn-primary pull-left' %>
  <h1 class="text-center">Edit <%= @contact.customer.name %> Contact </h1>
</div>

<%= render 'form' %>

