<% provide(:title, "New #{@customer.name} Contact") %>
<div class="page-header">
  <%= link_to 'Back', customer_path(@customer), class: 'btn btn-primary pull-left' %>
  <h1 class="text-center">New <%= @customer.name %> Contact</h1>
</div>
<div class="row">
  <%= render 'form' %>
</div>
