<% provide(:title, "Master Gantt Chart") %>
<div class="page-header">
  <%= link_to "Back to Project List", projects_path, class: "btn btn-primary pull left" %>
  <h1 class="text-center">Mast Gantt Chart for All Tasks</h1>
</div>

<%= render 'chart' %>
