// Place all the styles related to the Jig_Order controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fields {
	padding: 10px 20px 10px 20px;
}

.jig-inline > .form-group {
	margin: 0px 10px 0px 10px;
}

#jig_order_line_items > .nested-fields > .form-inline >  .form-group, a {
	margin: 15px 0px 15px 0px;
}

#jig_order_line_items > .nested-fields > .form-inline > .jig_select {
	width: 300px;
	margin: 0px 0px 15px 0px;
}